/* Import the VS Code-like theme for Prism.js */
@import url('https://cdn.jsdelivr.net/npm/prism-themes/themes/prism-vsc-dark-plus.css');
:root {
    --color1: rgb(1, 4, 9);
    --color2: rgb(22, 27, 34);
    --color3: rgb(13, 17, 23);
}

.form-group {
    margin-bottom: 1rem !important;
}

.control-label {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.bd-example {
    position: relative;
    padding: 1rem;
    margin: 1rem -0.75rem 0;
    border: solid #dee2e6;
    border-width: 1px 0 0;
}

.intro {
    /* height: 100%;
    min-height: 100vh; */
    /* height: fit-content; */
}

@media (min-width: 576px) {
    .bd-example {
        padding: 1.5rem;
        margin-right: 0;
        margin-left: 0;
        border-width: 1px;
        border-top-left-radius: 0.25rem;
        border-top-right-radius: 0.25rem;
    }
}

.side-bar {
    height: 100vh;
}

nav a:hover {
    /* background-color: white;
    border-radius: 5px;
    padding: 8px;
    color: black; */
    text-decoration: underline;
}

nav a {

    text-decoration: none;

    color: white;

}

.divider {
    border-bottom: 1px solid #dee2e6;
    margin-bottom: 1rem;
}

/* Adjust the background color and other styles for the code block */
pre {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: 5px;
}

.image {
    width: 12vw;
    height: 12vh;
}

.center-form{
    margin-left: 4vw;
    margin-right: 4vw;
    margin-top: 4vh;
    margin-bottom: 4vh; 
}